@import "../shared.scss";

.about {
  width: 100%;
  height: 1280px;
  background: url("../assets/constantinos.jpg") center/cover no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  @include m_q(768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @include m_q(499px) {
    max-height: 999px;
  }

  &__header {
    margin-top: 10rem;
    font-size: 5vw;
    color: $clr-grey-3;
    text-shadow: 7px 2px 2px $black;
    @include m_q(768px) {
      font-size: 7.5vw;
    }
  }
  &__subheader {
    margin-bottom: 10rem;
    font-size: 2vw;
    color: $clr-grey-5;
    text-shadow: 7px 2px 2px $black;
    @include m_q(768px) {
      margin-top: 0.5rem;
      margin-bottom: 3rem;
      font-size: 4vw;
    }
  }

  &__column-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 1rem;
    gap: 1.8rem;
    @include m_q(768px) {
      flex-direction: column;
      max-height: 100vh;
      gap: 0.9rem;
    }
  }
  &__icon {
    color: $brown;
    font-size: 3.5vw;
    @include m_q(768px) {
      font-size: 5.4vw;
    }
  }
}
