@import "../shared.scss";

.about {
  width: 100%;
  height: 100vh;
  background: url("../assets/constantinos.jpg") center/cover no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
  object-fit: contain;
}
