@import "../shared.scss";

.about {
  width: 100%;
  height: 1280px;
  background: url("../assets/constantinos.jpg") center/cover no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  &__header {
    margin-top: 15rem;
    font-size: 5.5vw;
    color: $clr-grey-3;
    text-shadow: 7px 2px 2px $black;
  }
  &__subheader {
    margin-bottom: 10rem;
    font-size: 2vw;
    color: $clr-grey-5;
    text-shadow: 7px 2px 2px $black;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__column-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 2rem;
    gap: 2rem;
    @include m_q(768px) {
      flex-direction: column;
    }
  }
  &__icon {
    color: $brown;
    font-size: 4vw;
  }
}
