@import "../shared.scss";

.about {
  position: relative;
  object-fit: contain;
  background-image: url("../assets/columns21.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);

  &__container {
    margin-top: 3rem;
    background: rgba(26, 25, 23, 0.8);
    max-width: 80ch;
    height: 400px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__title {
    font-size: 3rem;
    padding: 20px 20px;
    color: #fff;
  }

  &__desc {
    font-family: $secondary-font;
    text-transform: lowercase;
    color: #fff;
    padding: 0 20px;
    line-height: 1.75;
  }
}
