@import "../shared.scss";

.not-found {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/rui-silva-.jpg");
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(26, 25, 23, 0.8);
    background-size: contain;
    width: 50%;
    min-width: 330px;
    height: 60%;
    border-radius: 10px;
  }
  &__title {
    font-size: 3.3rem;
    font-weight: 500;
    padding: 15px 20px;
    color: $primary_color;
    @include m_q(1260px) {
      font-size: 2.5rem;
    }
    @include m_q(1125px) {
      font-size: 2.2rem;
    }
    @include m_q(860px) {
      font-size: 1.75rem;
    }
    @include m_q(768px) {
      font-size: 1.4rem;
    }
    @include m_q(599px) {
      font-size: 1.3rem;
    }
  }

  &__desc {
    font-family: $secondary-font;
    color: $primary_color;
    padding: 0 20px;
    line-height: 1.1;
    font-size: 1.1rem;
    color: $secondary_color;
    @include m_q(768px) {
      font-size: 1rem;
      line-height: 1;
    }
  }
  &__link {
    margin-top: 2rem;
    font-family: $secondary-font;
    color: $primary_color;
    text-decoration: none;
    font-size: 2rem;
    @include m_q(1125px) {
      font-size: 1.5rem;
    }
    @include m_q(768px) {
      font-size: 1.2rem;
    }

    &:hover {
      color: $clr-grey-4;
    }
  }
  &__icon {
    margin: 1.5rem 0;
    font-size: 2.5rem;
    color: $primary_color;
  }
}
