@import "../shared.scss";

.article {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 5px;

  &__banner-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__column-title {
    font-size: 2vw;
    text-align: center;
    color: $clr-grey-3;
  }
  &__column-desc {
    padding: 1rem;
    color: $secondary_color;
    font-family: $secondary-font;
    font-style: italic;
    font-size: 1vw;
  }
}
