@import "../shared.scss";

.article {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 5px;

  &__banner-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  &__column-title {
    font-size: 2vw;
    text-align: center;
    color: $clr-grey-3;
    @include m_q(768px) {
      font-size: 3.5vw;
    }
  }
  &__column-desc {
    padding: 0.2rem;
    color: $secondary_color;
    font-family: $secondary-font;
    font-style: italic;
    font-size: 1vw;
    @include m_q(768px) {
      padding: 0.3rem;
      max-width: 120ch;
      font-size: 1.9vw;
    }
  }
}
