@import "../shared.scss";

.article {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;

  &__banner-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3rem;
  }

  &__column-title {
    font-size: clamp(1rem, 2vw, 2.5rem);
    text-align: center;
    color: $clr-grey-3;
  }
  &__column-desc {
    padding: 0.2rem;
    color: $secondary_color;
    font-family: $secondary-font;
    font-style: italic;
    font-size: clamp(0.6rem, 1.1vw, 2rem);
    @include m_q(768px) {
      padding: 0.3rem;
      max-width: 100ch;
      font-size: 2vw;
    }
  }
}
