@import "../shared.scss";

.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.btn--primary {
  background-color: $white;
  color: $black;
  border: 1px solid $white;
}

.btn--outline {
  background-color: transparent;
  color: $primary_color;
  padding: 8px 24px;
  border: 1px solid $primary_color;
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--mobile {
  text-align: center;
  border-radius: 4px;
  width: 80%;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: $white;
  padding: 14px 20px;
  border: 1px solid $white;
  transition: all 0.3s ease-out;
}

.btn--wide {
  padding: 12px 64px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover,
.btn--mobile:hover {
  transition: all 0.3s ease-out;
  background: $white;
  color: $black;
}

.btn--outline:hover {
  border: 1px solid $primary_color;
  background-color: $white;
  color: $brown_two;
}

.btn--wide:hover {
  color: $white;
  background-color: $red;
  transition: all 0.2s ease-out;
}

.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 8px 16px;
  height: 100%;
  width: 100%;
}

.blue {
  background-color: $blue;
  color: $white;
  border: none;
}

.red {
  background-color: $red;
  color: $white;
  border: none;
}

.primary {
  background-color: $black;
  color: $white;
  border: none;
}

.primary:hover {
  background-color: $white;
  color: $black;
  border: none;
}

.green {
  background: $green;
  color: $white;
  border: none;
}

.green:hover {
  background-color: $black;
}
