@import "../shared.scss";

.card {
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5);
  background-color: #ffffff;
  text-align: center;
  border-radius: 10px;
  position: relative;
  margin: 1rem;
  transition: all 300ms ease-in-out;

  &__img {
    object-fit: cover;
    width: 13rem;
    filter: brightness(70%);
    margin-top: 0.5rem;
  }

  &__title {
    margin-top: 0.5rem;
    font-size: $primary-font;
    font-weight: bold;
    font-size: 1.5rem;
  }

  &__description {
    font-family: $secondary-font;
    margin: 0.6rem 2rem;
    font-size: 0.8rem;
  }

  &__btn {
    padding: 1rem 3rem;
    margin-bottom: 0.8rem;
    font-family: $primary-font;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    border: 2px solid $clr-grey-1;
    border-radius: 5px;
    color: $clr-grey-1;
    background-color: transparent;
  }

  &:hover {
    transform: translateY(-1.1rem);
    box-shadow: 1px 3px 12px rgba($clr-grey-5, 0.3);
    box-shadow: 0 0 0 5px $clr-grey-5;
    border-radius: 10px;
    outline: none;
  }
  &:hover &__btn {
    background-color: $clr-grey-1;
    color: $primary_color;
  }
}
