@import "../shared.scss";

.card2 {
  overflow: hidden;
  box-shadow: 0 2px 20px lightgray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  background-color: #fff;

  &__img {
    height: 12rem;
    width: 100%;
    object-fit: cover;
  }
  &__title {
    padding: 1rem;
  }
  &__desc {
    font-family: $secondary-font;
    padding: 0 1rem;
  }
  &__btn {
    padding: 1rem;
    font-family: inherit;
    font-weight: 600;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid red;
    background-color: transparent;
    border-radius: 5px;
    color: red;
    transition: all 200ms ease-in-out;
  }

  &:hover {
    transform: scale(1.02);
  }
  &:hover &__btn {
    background-color: red;
    color: #fff;
  }
}
