@import "../shared.scss";

.footer {
  background-image: url("../assets/books.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: contain;
  min-width: 100%;
  min-height: 1275px;
  overflow-x: hidden;

  .footer-container {
    position: relative;
    top: 500px;
    background-color: $footer_bg_color_three;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $secondary_font;
  }
  .footer-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 24px;
    color: $primary_color;
  }

  .footer-subscription > h2 {
    font-family: $primary_font;
    text-shadow: 1px 1px 3px $black;
  }

  .footer-subscription-heading {
    margin-bottom: 1.5rem;
    font-size: 3.7rem;
    font-weight: 700;
    @include m_q(576px) {
      font-size: 1.7;
      font-weight: 500;
    }
  }

  .footer-subscription-text {
    font-family: $primary_font;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    @include m_q(576px) {
      font-size: 1rem;
    }
  }

  .footer-input {
    padding: 8px 24px;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 1.125rem;
    margin-bottom: 16px;
    border: 1px solid $primary_color;
  }

  .footer-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;

    @include m_q(576px) {
      margin-left: 2.5rem;
    }
  }

  .footer-link-wrapper {
    display: flex;
  }

  .footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
  }

  .footer-link-items h2 {
    margin-bottom: 16px;
  }

  .footer-link-items > h2 {
    color: $primary_color;
  }

  .footer-link-items a {
    color: $primary_color;
    margin-bottom: 0.5rem;
    font-style: italic;
  }

  .footer-link-items a:hover {
    color: $brown_two;
    transition: 0.3s ease-out;
  }

  .footer-email-form h2 {
    margin-bottom: 2rem;
  }

  .footer-input::placeholder {
    color: $black;
  }

  .social-icon-link {
    color: $primary_color;
    font-size: 2rem;
  }

  .social-media {
    max-width: 1000px;
    width: 100%;
  }

  .social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }

  .social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 240px;

    @include m_q(500px) {
      // justify-content: center;
    }
  }

  .social-icon-link {
    margin-right: 10px;
    transition: all 200ms ease-in-out;

    &:hover {
      color: $brown_one;
      transform: translateY(-4px);
    }
  }

  .social-logo {
    font-family: $primary_font;
    color: $primary_color;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }

  .footer-icon {
    margin-right: 1.5rem;
  }

  .website-rights {
    color: $primary_color;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 820px) {
  .footer-links {
    padding-top: 2rem;
  }

  .footer-input {
    width: 100%;
  }

  button {
    width: 100%;
  }

  .footer-link-wrapper {
    flex-direction: column;
  }

  .social-media-wrap {
    flex-direction: column;
  }
}
