@import "../shared.scss";

.footer {
  padding: 3rem 0;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: rgba(11, 18, 22, 0.548); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    rgba(110, 146, 170, 0.4),
    rgba(11, 18, 22, 0.548)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    rgba(98, 133, 156, 0.5),
    rgba(11, 18, 22, 0.548)
  );
  @include m_q(629px) {
    padding: 1rem 0;
  }

  &__header {
    display: flex;
    align-items: center;
    font-family: $primary-font;
    margin-top: 10rem;
    cursor: pointer;
    font-size: 3.3rem;
    font-weight: 500;
    line-height: 1.3;
    color: $primary_color;
    @include m_q(949px) {
      font-size: 2rem;
    }
    @include m_q(629px) {
      font-size: 1.5rem;
    }
    @include m_q(550px) {
      font-size: 1rem;
    }
  }

  &__title-icon {
    font-size: 3.6rem;
    margin: 0 1.5rem;
    @include m_q(949px) {
      font-size: 3rem;
    }
    @include m_q(629px) {
      font-size: 2rem;
    }
    @include m_q(550px) {
      font-size: 1.5rem;
    }
  }

  &__container {
    margin-top: 12px;
    display: flex;
    border-top: 1px solid #cdcdcd;
    width: 80%;
    padding-top: 12px;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: space-between;

    @include m_q(550px) {
      width: 90%;
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  &__privacy {
    display: flex;

    &-links {
      font-family: $secondary-font;
      color: $primary_color;
      font-size: 1.125rem;
      cursor: pointer;
      transition: all 200ms ease-in-out;
      &:not(:last-child) {
        margin-right: 1rem;
      }
      @include m_q(799px) {
        font-size: 0.9rem;
      }
      @include m_q(550px) {
        font-size: 0.7rem;
        margin-right: 5px;
      }
      &:hover {
        color: $clr-grey-5;
      }
    }
  }

  &__socialContainer {
    display: flex;
  }

  &__icon {
    color: $primary_color;
    font-size: 2rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    margin-right: 1rem;
    &:hover {
      color: $clr-grey-5;
      transform: translateY(-3px);
    }
    @include m_q(799px) {
      font-size: 1.6rem;
    }
    @include m_q(550px) {
      font-size: 1.3rem;
      margin-right: 0.5rem;
    }
  }

  &__icon-mobile {
    visibility: hidden;

    @include m_q(499px) {
      visibility: visible;
      font-size: 3.3rem;
      color: $primary_color;
      margin-top: 80px;
      // position: relative;
    }
  }

  &__rights {
    margin-top: 10px;
    position: absolute;
    color: $primary_color;
    font-size: 1.3rem;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    @include m_q(799px) {
      font-size: 0.9rem;
    }
    @include m_q(550px) {
      font-size: 0.7rem;
    }
  }
}
