@import "../shared.scss";

.hero {
  width: 100%;
  padding: 100px 0;
  background: rgba(11, 18, 22, 0.548); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    rgba(110, 146, 170, 0.4),
    rgba(11, 18, 22, 0.548)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(98, 133, 156, 0.5),
    rgba(11, 18, 22, 0.548)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  @include m_q(960px) {
    padding: 60px 0;
  }

  h1 {
    font-family: $secondary-font;
    font-size: 5rem;
    line-height: 1.1;
    font-weight: 600;
    // text-transform: uppercase;
    color: $clr-grey-9;
    text-shadow: 1px 3px 6px black;
    text-align: center;
    @include m_q(1068px) {
      font-size: 4.5rem;
    }
    @include m_q(899px) {
      font-size: 4rem;
    }
    @include m_q(768px) {
      font-size: 3rem;
    }
    @include m_q(576px) {
      font-size: 2.5rem;
    }
  }
  h3 {
    font-family: $secondary-font;
    font-size: 2.2rem;
    font-weight: 400;
    color: $clr-grey-9;
    text-shadow: 1px 3px 6px black;
    text-align: center;
    margin-bottom: 20px;

    @include m_q(1068px) {
      font-size: 2rem;
    }
    @include m_q(899px) {
      font-size: 1.8rem;
    }
    @include m_q(768px) {
      margin-bottom: 75px;
      font-size: 1.4rem;
    }
    @include m_q(576px) {
      font-size: 1.1rem;
      margin-bottom: 30px;
    }
  }
  hr {
    color: $clr-grey-5;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 100px;
    @include m_q(650px) {
      max-width: 500px;
      margin-bottom: 70px;
    }
    @include m_q(576px) {
      max-width: 300px;
      margin-bottom: 30px;
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.5rem;
  padding: 3rem;
  font-family: $secondary-font;

  .card {
    display: flex;
    flex-direction: column;
    flex: 0 0 400px;
    overflow: hidden;
    background: #fff;
    color: $clr-grey-3;
    border-radius: 5px;
    box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    font-size: 1rem;
    transition: all 300ms ease-in;

    &:hover {
      transform: translateY(-0.8rem);
      box-shadow: 1px 3px 12px rgba($clr-grey-8, 0.8);
      box-shadow: 0 0 0 5px $clr-grey-6;
      border-radius: 5px;
      outline: none;

      @include m_q(975px) {
        transform: scale(1.03);
        box-shadow: 1px 3px 10px rgba($clr-grey-8, 0.8);
        box-shadow: 0 0 0 5px $clr-grey-6;
        border-radius: 5px;
        outline: none;
      }
    }
    @include m_q(699px) {
      flex: 0 1 400px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      height: 100%;
    }
    &__title {
      color: $clr-grey-2;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    &__snippet {
      margin-top: 1rem;
      font-size: 1rem;
    }

    &__read {
      display: flex;
      justify-content: flex-end;
      color: $clr-grey-2;
      margin-top: auto;
      margin-right: 20px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}
