@import "../shared.scss";

.navbar {
  background-color: $nav_bg_color;
  box-shadow: $nav-shadow;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.05rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 72px;
}

.container {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 0 70px;
  margin: auto;
  // max-width: 1500px;
}

.navbar-logo {
  color: $gold-750;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.navbar-icon {
  margin-right: 1rem;
}

.nav-menu {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.nav-item {
  height: 72px;
  margin-right: 40px;
  border-bottom: 3px solid transparent;
  transition: all 500ms ease-in-out;
}

.nav-item:hover {
  border-bottom: 3px solid $clr-red-dark;
}

.nav-links {
  color: $gold-700;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 999px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    top: 72px;
    left: -100%;
    opacity: 1;
    transition: all 0.7s ease-in-out;
  }

  .nav-menu.active {
    background: $bg_dark;
    left: 0;
    opacity: 1;
    transition: all 0.7s ease-in-out;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    color: #f50303;
    // transform: scale(1.01);
    transition: all 0.3s ease-in-out;
  }

  .nav-item {
    width: 100%;
  }

  .nav-item:hover {
    border: none;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 2.2rem;
    cursor: pointer;
  }
}
