.navbar {
  background-color: #121313;
  opacity: 0.95;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.7);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.navbar-logo {
  color: rgb(255, 188, 2);
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.navbar-icon {
  margin-right: 0.5rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-item {
  height: 80px;
  border-bottom: 3px solid transparent;
  transition: all 500ms ease-in-out;
}

.nav-item:hover {
  border-bottom: 3px solid #f50303;
}

.nav-links {
  margin-right: 48px;
  color: rgb(255, 188, 2);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.7s ease-in-out;
  }

  .nav-menu.active {
    /* width: 100%;
    height: 50vh; */
    background: #121313;
    left: 0;
    opacity: 1;
    transition: all 0.7s ease-in-out;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    color: #f50303;
    /* transform: scale(1.01); */
    transition: all 0.3s ease-in-out;
  }

  .nav-item:hover {
    border: none;
  }

  .nav-item {
    width: 100%;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  /* .fa-times {
    color: #fff;
    font-size: 2rem;
  } */

  .nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
  }
}
