@import "../shared.scss";

.philosophy {
  color: $white;
  padding: 160px 0;
  font-family: $secondary-font;
  background: rgba(11, 18, 22, 0.548); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    rgba(110, 146, 170, 0.4),
    rgba(11, 18, 22, 0.548)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    rgba(98, 133, 156, 0.5),
    rgba(11, 18, 22, 0.548)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  @include m_q(600px) {
    padding: 60px 0;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 30px;
  }
  &__text-wrapper {
    max-width: 60ch;
    margin-bottom: 30px;
    font-size: 1.1rem;
    line-height: 25px;
    @include m_q(600px) {
      margin-left: 30px;
    }

    h2 {
      margin-bottom: 30px;
      font-size: 3.3rem;
      line-height: 1.1;
      font-weight: 600;
      color: $clr-grey-9;
      text-shadow: 1px 1px 2px $clr-grey-8;
      @include m_q(600px) {
        font-size: 2.1rem;
        text-align: center;
      }
    }
    p {
      margin-bottom: 30px;
      font-size: 1rem;
      line-height: 25px;
      color: $clr-grey-7;
    }
  }
  &__img-wrapper {
    max-width: 600px;
    @include m_q(600px) {
      margin-left: 30px;
    }

    img {
      max-width: 95%;
      border-radius: 5px;
    }
  }
}
