@import "../shared.scss";

.section {
  font-family: $secondary-font;
  /* width: 90vw;
    margin: 5rem auto;
    max-width: $max-width; */
  background: url("../assets/giammarco.jpg") center center/cover no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  object-fit: contain;
}

// @media screen and (min-width: 992px) {
//   .section {
//     width: 100vw;
//   }
// }

.title {
  text-align: center;
  margin-bottom: 2rem;
}
.title h1 {
  font-size: 3rem;
  font-weight: 700;
}
.title span {
  font-size: 0.85em;
  color: $clr-primary-1;
  margin-right: 1rem;
  font-weight: 700;
}
.section-center {
  margin: 0 auto;
  margin-top: 3rem;
  width: 100vw;
  /* have to have a height */
  height: 768px;
  max-width: 1299px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

.person-img {
  margin-bottom: 1rem;
  width: 75%;
  height: 75%;
  object-fit: contain;
}
article h4 {
  text-transform: uppercase;
  color: $gold-350;
  margin-bottom: 0.25rem;
}
.title {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: $clr-grey-3;
}
.text {
  max-width: 35em;
  margin: 0 auto;
  // margin-top: 2rem;
  line-height: 1;
  color: $clr-grey-5;
}
.icon {
  font-size: 3rem;
  margin-top: 1rem;
  color: $gold-350;
}
.prev,
.next {
  position: absolute;
  top: 288px;
  transform: translateY(-50%);
  background-color: transparent;
  color: $gold-350;
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: $radius;
  cursor: pointer;
  transition: $transition;
}
.prev:hover,
.next:hover {
  background: $gold-350;
  color: $black;
}
.prev {
  left: 60px;
  @include m_q(768px) {
    left: 10px;
  }
}
.next {
  right: 60px;
  @include m_q(768px) {
    right: 10px;
  }
}
@media (min-width: 800px) {
  .text {
    max-width: 45em;
  }
  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
}
article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1100ms ease-in-out;
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}
