@import "../shared.scss";

.section {
  font-family: $secondary-font;
  background: url("../assets/giammarco.jpg") center center/cover no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  object-fit: contain;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}
.title h1 {
  font-size: 3rem;
  font-weight: 700;
}
.title span {
  font-size: 0.85em;
  color: $clr-primary-1;
  margin-right: 1rem;
  font-weight: 700;
}
.section-center {
  margin: 0 auto;
  width: 100vw;
  height: 768px;
  max-width: 1299px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

.view-img {
  margin-bottom: 1rem;
  width: 75%;
  height: 75%;
  object-fit: contain;
  @include m_q(699px) {
    margin-top: -20px;
  }
}
article h4 {
  font-size: 3.2rem;
  text-decoration: underline;
  color: $gold-700;
  margin-bottom: 0.25rem;
  @include m_q(999px) {
    margin-top: -50px;
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
  }
  @include m_q(699px) {
    margin-top: -125px;
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
}
.title {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: $gold-750;
}
.text {
  max-width: 50ch;
  margin: 0 auto;
  line-height: 1;
  font-size: 1rem;
  color: $clr-grey-7;
  @include m_q(999px) {
    margin-top: 10px;
  }
  @include m_q(699px) {
    margin-top: 25px;
  }
}
.icon {
  font-size: 3rem;
  margin-top: 8px;
  color: $gold-700;
  @include m_q(999px) {
    margin-top: 35px;
  }
  @include m_q(699px) {
    margin-top: 50px;
  }
}
.prev,
.next {
  position: absolute;
  top: 288px;
  transform: translateY(-50%);
  background-color: transparent;
  color: $gold-350;
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: $radius;
  cursor: pointer;
  transition: $transition;
}
.prev:hover,
.next:hover {
  background: $gold-350;
  color: $black;
}
.prev {
  left: 60px;
  @include m_q(768px) {
    left: 12px;
  }
}
.next {
  right: 60px;
  @include m_q(768px) {
    right: 18px;
  }
}
@media (min-width: 800px) {
  .text {
    max-width: 45em;
  }
  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
}
article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1100ms ease-in-out;
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}
