// Fonts
$primary-font: "Syne Mono", monospace;

// Colors
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$gold: rgb(255, 188, 2);
$red: rgb(240, 9, 70);
$blue: rgb(39, 106, 251);
$green: rgb(37, 206, 74);
